certifi==2026.2.25
charset-normalizer==3.4.7
greenlet==3.3.2
humanize==4.15.0
idna==3.11
playwright==1.58.0
pyee==13.0.1
pyotp==2.9.0
python-dotenv==1.2.2
requests==2.33.1
schedule==1.2.2
typing_extensions==4.15.0
urllib3==2.6.3
